

$border-radius: 12px; 
$primary-color: #007BFF;
$shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 4px 15px rgba(0, 0, 0, 0.2);
$transition-speed: 0.3s;

.customCardTitleLink {
  text-decoration: none;
}

.customCard {
  transition: transform $transition-speed, box-shadow $transition-speed;
  box-shadow: $shadow-light;
  border: none;
  border-radius: $border-radius;
  overflow: hidden; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));

  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-dark;
    .custom-card-image {
      filter: brightness(0.85); 
    }
  }
}

.customCardImage {
  transition: filter $transition-speed; 
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  height: 250px;
  object-fit: cover;
}

.customCardBody {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1.5rem; 
}

.customCardTitle {
  color: $primary-color;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600; 
}

.customCardRating {
  color: darken($primary-color, 50%);
}

.customCardPrice {
  color: darken($primary-color, 10%);
  font-weight: 600;
  font-size: 1.4rem;
}
